.App {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
}

.Navbar {
  display: flex;
  background-color: #f55a5a;
  align-items: center;
  justify-content: center;
  height: 72px;
  color: white;
  margin: -10px;
}

.globe-icon {
  padding-right: 10px;
  font-size: 36px;
}

.navbar-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: -0.075em;

  color: #ffffff;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LocationCard {
  display: flex;
  width: 720px;
  padding: 40px;
  border-bottom: 1px solid rgba(83, 81, 83, 0.1);;
}

.location-image {
  max-width: 350px;
  max-height: 500px;
  border-radius: 10px;
  object-fit: cover;
}

.card-info {
  padding-left: 30px;
  text-align: left;
}

.location-container {
  display: flex;
  align-items: center;
  justify-content: left;
}

.marker-icon {
  color: #f55a5a;
  padding-right: 10px;
}

.card-location {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.17em;
}

.maps-link {
  font-weight: 400;
  font-size: 12px;
  text-decoration-line: underline;
  color: #918e9b;
  padding-left: 10px;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  color: #2b283a;
  margin-top: -5px;
}

.card-date {
  font-weight: 700;
  font-size: 14px;
  color: #2b283a;
}

.card-description {
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #2B283A;
}