.App {
  text-align: center;
}

.Navbar {
  display: flex;
  background-color: #f55a5a;
  align-items: center;
  justify-content: center;
  height: 72px;
  color: white;
}

.globe-icon {
  padding-right: 10px;
  font-size: 36px;
}

.navbar-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: -0.075em;

  color: #ffffff;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LocationCard {
  display: flex;
  width: 720px;
  padding: 40px;
  
}

.location-image {
  max-width: 350px;
  max-height: 500px;
  border-radius: 10px;
  object-fit: cover;
}

.card-info {
  padding-left: 30px;
  text-align: left;
}

.location-container {
  display: flex;
  align-items: center;
  justify-content: left;
}

.marker-icon {
  color: #F55A5A;
  padding-right: 10px;
}